@import url('../../.cache/wal/colors-waybar.css');

* {
    min-height: 0;
    font-family: "Firacode Nerd Font";
    font-size: 13px;
}
/* Waybar */
#waybar {
    background-color: transparent;
}

#waybar .module {
    color: @text;
    padding: 0px 0px;
    margin: -10px 5px -10px;
    border: 2px;
}

#waybar .module:hover {
    color: @subtext1;
}

#window#waybar {
    color: @text;
    background-color: @base;
    transition-property:  background-color;
    transition-duration: 0.5s;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @color6;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @color1;
    color: @color7;
    border-radius:  10.5pt;
    margin-left: 0px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 0px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: alpha(@background,.6);
    color: @text;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#hollow-right-5,
#hollow-center-1,
#hollow-left-1,
#hollow-left-4,
#hollow-right-4,
#hollow-left-5,
#hollow-right-3,
#hollow-right-1,
#hollow-right-2 {
  background: alpha(@background,.6);
  border-radius: 10.5pt;
  padding: 8px;
}

#hollow-left-2 {
  background: alpha(@background,.6);
  border-radius: 10.5pt;

}


